<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Media Collection
        </div>

        <div class="card-body">
          <div class="container">
            <div class="row">
              <div *ngFor='let m of mediaObservable | async'>
                <app-media-item [media]="m"></app-media-item>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>