<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Media Details
        </div>

        <div class="card-body">

          <div *ngFor="let mediaItem of mediaObservable | async" class="center">
            <h2>{{ mediaItem.title }}</h2>
            <a href="{{ mediaItem.url }}">
              <img src="{{ mediaItem.thumb }}">
            </a>
            <br>
            <p>
              <strong>Description</strong> &mdash; {{ mediaItem.description }}
            </p>
            <p>
              <button class="btn btn-primary" routerLink="/edit/{{ mediaItem.id }}">Edit</button>
              <button class="btn btn-primary" routerLink="/delete/{{ mediaItem.id }}">Delete</button>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>